<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tip_A</key>
	<string>🙏</string>
	<key>Tip_B</key>
	<string>💝</string>
	<key>Tip_C</key>
	<string>🌟</string>
	<key>Tip_D</key>
	<string>💎</string>
</dict>
</plist>
